<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<div th:replace="fragments/header.html :: fragment-header('edit post')"></div>

<body>

<div th:replace="fragments/nav.html :: fragment-nav('Post')"></div>

<form class="form-horizontal well bs-component col-lg-10 col-lg-offset-1"
      th:action="@{/posts/{id}/edit(id=${postDto.id})}"
      th:object="${postDto}" method="post" th:id="postDto">
    <fieldset>
        <!--        <input type="hidden" th:field="*{userId}"/>-->
        <div class="form-group" th:classappend="(${#fields.hasErrors('title')}? ' has-error')">
            <label for="title" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="title" name="title" th:field="*{title}"
                       placeholder="Title"/>
                <div th:if="${#fields.hasErrors('title')}" class="alert alert-danger" role="alert"
                     th:errors="*{title}"></div>
            </div>
        </div>

        <div class="form-group" th:classappend="(${#fields.hasErrors('categoryId')}? ' has-error')">
            <label class="col-lg-2 control-label">categories</label>
            <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                <label class="btn btn-primary active">
                    <input th:onclick="changeCategory([[${category.name}]])" name="categoryId" type="radio"
                           th:text="${category.name}" th:value="${category.id}"/>
                </label>
            </div>
            <div th:if="${#fields.hasErrors('categoryId')}" class="alert alert-danger" role="alert"
                 th:errors="*{categoryId}"></div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">category</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="categoryName" disabled="disabled"/>
            </div>
        </div>

        <!-- Content-->
        <div class="form-group" th:classappend="(${#fields.hasErrors('content')}? ' has-error')">
            <label for="content" class="col-lg-2 control-label">Content</label>
            <div class="col-lg-10">
                <textarea  class="form-control" id="content" name="title" th:field="*{content}"
                           placeholder="Content" rows="5"></textarea>
                <div th:if="${#fields.hasErrors('content')}" class="alert alert-danger" role="alert"
                     th:errors="*{content}"></div>
            </div>
        </div>
        <div id="menu">
            <input class="btn btn-primary" type="button" value="Submit" onclick="saveAsHtml()"/>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    function changeCategory(name) {
        document.getElementById("categoryName").value = name;
    }

    function saveAsHtml() {
        document.getElementById('postDto').submit();
    }
</script>


<!-- Footer -->
<div th:replace="fragments/footer_without_pager :: fragment-footer-without-pager"></div>
</body>

</html>
