<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments/header.html :: fragment-header(${postViewDto.title})"></div>

<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Somang's portfolio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/posts/new}">New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories/}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
            </ul>
        </div>


        <div class="d-grid gap-3 d-md-flex justify-content-md-end" sec:authorize="!isAuthenticated()">
            <a class="btn btn-outline-success" th:href="@{/account/login} ">Login</a>
            <a class="btn btn-outline-primary" th:href="@{/account/register}">회원가입</a>
        </div>

        <form class="form-inline my-2 my-1g-0" sec:authorize="isAuthenticated()" th:action="@{/logout}"
              method="post">
            <span class="text-white" sec:authentication="name">사용자</span>
            <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>
            <button class="btn btn-outline-danger" type="submit">Logout</button>
        </form>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" th:src="@{/img/about-bg.jpg}" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 th:text="${postViewDto.title}"></h1>
                    <span class="meta">Posted by
              <a th:text="${postViewDto.username}"></a>
                    <strong th:text="${#temporals.format(postViewDto.createdDate, 'yyyy-MM-dd hh:mm:ss EEE')}"></strong>
                    category <strong th:if="${postViewDto.categoryName}" th:text="${postViewDto.categoryName}"></strong>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="alert alert-danger" th:if="${errMsg}" role="alert">
            <p th:text="${errMsg}"></p>
        </div>
        <div class="row">
            <textarea class="form-control" rows="10" th:text="${postViewDto.content}" readonly></textarea>
            <form th:if="${#strings.equals(#authentication.name, postViewDto.username)}"
                  th:action="@{/posts/{id}/delete(id=${postViewDto.id})}" method="post">
                <button type="submit"
                        style="top: 18px;"
                        class="btn btn-outline-danger">삭제
                </button>
            </form>

            <form th:if="${#strings.equals(#authentication.name, postViewDto.username)}"
                  th:action="@{/posts/edit/{id}(id=${postViewDto.id})}" method="get">
                <button type="submit"
                        style="top: 18px;"
                        class="btn btn-outline-info">수정
                </button>
            </form>

            <div class="container">

                <!-- 로그인 한 경우 -->
                <div sec:authorize="isAuthenticated()">
                    <span th:onclick="|postLikeEvent('${postViewDto.id}')|">
                        <i id="postLikeCount"
                           th:class="${postViewDto.likeUsers.contains(#authentication.name)} ? 'bi bi-heart-fill' : 'bi bi-heart'"><strong
                                th:text="${postViewDto.likeUsers.size()}"></strong></i>
                    </span>
                </div>
                <!-- 로그인 안 한 경우 -->
                <span sec:authorize="!isAuthenticated()">
                    <i class="bi bi-heart"><strong th:text="${postViewDto.likeUsers.size()}"></strong></i>
                </span>
            </div>
        </div>
    </div>
</article>


<!-- Comment -->
<div class="row" style="padding-top: 100px;">
    <div class="col-lg-8-offset-2 col-md-10 col-md-offset-1">
        <h4 id="addComment">댓글을 남겨주세요.</h4>
        <form th:action="@{/comments}" th:object="${commentDto}" method="post" th:id="comment">
            <input type="hidden" th:if="${#authentication.name}" name="username" id="username"
                   th:value="${#authentication.name}"/>
            <input type="hidden" th:value="${postViewDto.id}" id="postId" name="postId"/>

            <div class="well" th:classappend="(${#fields.hasErrors('content')}? ' has-error')">
                <input type="text" class="form-control input-lg" id="content" name="content" placeholder="댓글내용"/>
                <div th:if="${#fields.hasErrors('content')}" class="alert alert-danger" role="alert"
                     th:errors="*{content}"></div>
                <ul class="pager" style="text-align:right;">
                    <li class="next">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </li>
                </ul>
            </div>
        </form>

        <ul class="media-list comments" th:each="comment : ${postViewDto.comments}">
            <li class="media">
                <div class="media-body">
                        <span style="font-size: 1em; color: tomato"
                              th:if="${#dates.day(#dates.createNow()) == #temporals.day(comment.createdDate)}">
                        <i class="fas fa-circle"></i><span>New</span>
                    </span>
                    <h5 class="media-heading pull-left" th:text="${comment.username}">twosom</h5>
                    <div class="comment-info pull-left">
                        <div class="btn-default btn-xs"
                             th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd hh:mm:ss EEE')}">
                        </div>
                        <!-- 로그인 한 경우 -->
                        <div sec:authorize="isAuthenticated()">
                                <span th:onclick="|commentLikeEvent('${comment.id}')|">
                                    <i id="commentLikeCount"
                                       th:class="${comment.likeUsers.contains(#authentication.name) ? 'bi bi-heart-fill' : 'bi bi-heart' }">
                                        <strong th:text="${comment.likeUsers.size()}"></strong>
                                    </i>
                                </span>
                        </div>

                        <!--                        <form th:if="${comment.likeUsers.contains(#authentication.name)}"-->
                        <!--                              sec:authorize="isAuthenticated()" method="post"-->
                        <!--                              th:action="@{/commentlike/{commentId}/inactive (commentId=${comment.id})}"-->
                        <!--                              id="inactiveCommentLike">-->
                        <!--                                <span onclick="inactiveCommentLike()">-->
                        <!--                                    <i class="bi bi-heart-fill">-->
                        <!--                                        <strong th:text="${comment.likeUsers.size()}"></strong>-->
                        <!--                                    </i>-->
                        <!--                                </span>-->
                        <!--                        </form>-->

                        <!-- 로그인 안 한 경우 -->
                        <span sec:authorize="!isAuthenticated()">
                                <i class="bi bi-heart">
                                    <strong th:text="${comment.likeUsers.size()}"></strong>
                                </i>
                            </span>
                        <form id="deleteComment" th:if="${#strings.equals(comment.username, #authentication.name)}"
                              method="post"
                              th:action="@{/comments/{postId}/{commentId} (postId=${comment.postId}, commentId=${comment.id} )}">
                            <button style="top: 18px;"
                                    type="submit"
                                    class="btn btn-outline-danger">삭제
                            </button>
                        </form>

                        <p class="well" th:text="${comment.content}">Hi</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<hr>

<!-- Footer -->
<div th:replace="fragments/footer_without_pager.html :: fragment-footer-without-pager"></div>
<script>
    async function postLikeEvent(postId) {
        await fetch('/postlike/' + postId, {method: 'POST'})
            .then((response) => {
                return response.json();
            })
            .then((result) => {
                const postLikeCountElement = document.querySelector('#postLikeCount');
                switch (result.status) {
                    case 'N':
                        postLikeCountElement.setAttribute('class', 'bi bi-heart');
                        break;
                    case 'Y':
                        postLikeCountElement.setAttribute('class', 'bi bi-heart-fill');
                        break;
                }

                postLikeCountElement.innerText = result.count;
            });

    }

    async function commentLikeEvent(commentId) {
        await fetch('/commentlike/' + commentId, {method: 'POST'})
            .then((response) => {
                return response.json();
            })
            .then((result) => {
                const commentLikeCountElement = document.querySelector('#commentLikeCount');
                switch (result.status) {
                    case 'N':
                        commentLikeCountElement.setAttribute('class', 'bi bi-heart');
                        break;
                    case 'Y':
                        commentLikeCountElement.setAttribute('class', 'bi bi-heart-fill');
                        break;
                }

                commentLikeCountElement.innerText = result.count;
            })

    }
</script>


</body>

</html>
