<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<!--footer-->
<div th:fragment="fragment-footer">
    <footer>
        <div class="container">
            <div class="row" style="margin-top: 5%">
                <div class="col-lg-8 col-md-10 col-md-offset-1">
                    <div sd:pagination-summary="">info</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <nav class="pull-right">
                        <ul class="pagination" sd:pagination="full">
                            <li class="disabled"><a href="#" aria-label="Previous"><span area-hidden="true"></span></a>
                            </li>
                            <li class="acvite"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://github.com/twosom?tab=repositories">
                <span class="fa-stack fa-lg">
                  <i class="bi bi-github" style="font-size: 2rem;"></i>
                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">e-mail : two_somang@icloud.com</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}" src="vendor/jquery/jquery.min.js"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
            src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/clean-blog.min.js}" src="js/clean-blog.min.js"></script>
</div>