<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Navigation -->
<div th:fragment="fragment-nav(message)">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Somang's portfolio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/posts/new}">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories/}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/admin/roles}">권한 설정</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/admin/resources}">자원 설정</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/admin/accounts}">계정 설정</a>
                    </li>

                </ul>
            </div>
            <div class="d-grid gap-3 d-md-flex justify-content-md-end" sec:authorize="!isAuthenticated()">
                <a class="btn btn-outline-success" th:href="@{/account/login} ">Login</a>
                <a class="btn btn-outline-primary" th:href="@{/account/register}">회원가입</a>
            </div>

            <form class="form-inline my-2 my-1g-0" sec:authorize="isAuthenticated()" th:action="@{/logout}"
                  method="post">
                <span class="text-white" th:text="${#authentication.name}">사용자</span>
                <span class="text-white mx-2" th:text="${#authentication.getAuthorities()}">권한</span>
                <button class="btn btn-outline-danger" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <!-- Page Header -->

    <header class="masthead" th:src="@{/img/background.jpg}" style="background-image: url('/img/background.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1 th:text="${message}">Simple Blog</h1>
                        <div sec:authorize="isAuthenticated()">
                            <h3 th:if="${#strings.equals(message, 'Home') && (#temporals.hour(#temporals.createNow()) ge 6 && #temporals.hour(#temporals.createNow()) lt 12) }"
                                th:utext=" 'Good Morning' + '<br/>' + ${#authentication.name} + '님 오늘도 좋은하루 되세요.'"></h3>
                            <h3 th:if="${#strings.equals(message, 'Home') && (#temporals.hour(#temporals.createNow()) ge 12 && #temporals.hour(#temporals.createNow()) lt 16) }"
                                th:utext=" 'Good Afternoon' + '<br/>' + ${#authentication.name} + '님 점심은 드셨나요?'  "></h3>
                            <h3 th:if="${#strings.equals(message, 'Home') && (#temporals.hour(#temporals.createNow()) ge 16 && #temporals.hour(#temporals.createNow()) lt 21) }"
                                th:utext=" 'Good Evening' + '<br/>' + ${#authentication.name} + '님 오늘하루도 고생하셨습니다.'  "></h3>
                            <h3 th:if="${#strings.equals(message, 'Home') && (#temporals.hour(#temporals.createNow()) ge 21 || #temporals.hour(#temporals.createNow()) lt 6) }"
                                th:utext=" 'Good Night' + '<br/>' + ${#authentication.name} + '님 안녕히 주무세요.'  "></h3>
                        </div>
                        <span class="subheading">for Somang's Portfolio</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</html>