<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}">Ooops, page not found</title>
    <style type="text/css">
        .wrapper {
            width: 100%;
            text-align: center;
        }

        .big {
            font-size: 100%
        }
    </style>
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>
<body>
<div th:replace="fragments/nav.html :: fragment-nav(${error})"></div>

<div class="wrapper">
    <div class="big">
        <h1>이럴수가!!</h1>
        <p>페이지를 찾을 수 없네요.</p>
        <br/>
    </div>
</div>
</body>
</html>