<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <div th:replace="fragments/header.html :: fragment-header('리소스')"></div>
</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/nav.html :: fragment-nav('리소스 리스트')"></div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>리소스명</th>
            <th>리소스타입</th>
            <th>HTTP메소드</th>
            <th>순서</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resources : ${resourcesList}">
            <td><a th:text="${resources.resourceName}" th:href="@{/admin/resources/{id} (id=${resources.id})}"></a></td>
            <td th:text="${resources.resourceType}"></td>
            <td th:text="${resources.httpMethod}"></td>
            <td th:text="${resources.orderNum}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" role="button" th:href="@{/admin/resources/register}">리소스 추가</a>

</div>
<div th:replace="fragments/footer_without_pager.html :: fragment-footer-without-pager"></div>

</body>

</html>