<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <div th:replace="fragments/header.html :: fragment-header('category')"></div>
</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/nav.html :: fragment-nav('카테고리 리스트')"></div>

<div class="container">
    <li class="next">
        <a th:href="@{/categories/new}">write</a>
    </li>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, index : ${categories.content}">
            <th scope="row" th:text="${index.count}"></th>
<!--            th:href="@{'/categories/' + ${category.id} +'/edit'}"-->
            <td><a th:text="${category.name}" th:href="@{'/categories/' + ${category.id} +'/edit'}" ></a></td>
            <td th:text="${#temporals.format(category.createdDate, 'yyyy-MM-dd hh:mm:ss EEE')}"></td>
            <th><a class="btn btn-danger" role="button" th:onclick="deleteCategory([[${category.id}]])">삭제</a></th>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" role="button" th:href="@{/categories/new}">카테고리 추가</a>

</div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>

</body>
<script type="text/javascript">
    function deleteCategory(categoryId) {
        let form = document.createElement("form");
        form.action = "/categories/" + categoryId + "/delete";
        form.method = "post";
        document.body.appendChild(form);
        form.submit();
    }
</script>

</html>