<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/header.html :: fragment-header('Somang\'s Portfolio for Spring Boot + JPA')"></div>

</head>

<body>

<div th:replace="fragments/nav.html :: fragment-nav('Home')"></div>

<!-- Main Content -->
<div th:if=${result} class="alert alert-success" role="alert">
    <h4 class="alert-heading">알림</h4>
    <p th:text="${result}"></p>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <div class="post-preview" th:each="post : ${posts.content}">
                <a th:if="${post.status == T(com.icloud.my_portfolio.domain.PostStatus).Y}" th:href="@{/posts/{id}(id=${post.id})}">
                    <h2 class="post-title" th:text="${post.title}"></h2>
                    <h3 class="post-subtitle" th:text="${post.content}"></h3>
                </a>
                <p class="post-meta" th:if="${post.status == T(com.icloud.my_portfolio.domain.PostStatus).Y}">Posted by
                    <a href="#" th:text="${post.user.username}"></a>
                    <strong th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd hh:mm:ss EEE')}"></strong>
                    category <strong th:if="${post.category}" th:text="${post.category.name}"></strong>
                </p>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<div th:replace="fragments/footer.html :: fragment-footer"></div>
<!--<footer>-->
<!--    <div class="container">-->
<!--        <div class="row" style="margin-top: 5%">-->
<!--            <div class="col-lg-8 col-md-10 col-md-offset-1">-->
<!--                <div sd:pagination-summary="">info</div>-->
<!--            </div>-->
<!--            <div class="col-lg-5 col-lg-offset-2 col-md-10 col-md-offset-1">-->
<!--                <nav class="pull-right">-->
<!--                    <ul class="pagination" sd:pagination="full">-->
<!--                        <li class="disabled"><a href="#" aria-label="Previous"><span area-hidden="true"></span></a></li>-->
<!--                        <li class="acvite"><a href="#">1<span class="sr-only">(current)</span></a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>

</body>

</html>
