<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:replace="fragments/header.html :: fragment-header('Somang\'s Portfolio for Spring Boot + JPA')"></div>



<body>

<div th:replace="fragments/nav.html :: fragment-nav('Home')"></div>

<!-- Main Content -->
<div th:if=${result} class="alert alert-success" role="alert">
    <h4 class="alert-heading">알림</h4>
    <p th:text="${result}"></p>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <div class="post-preview" th:each="post : ${posts.content}">
                <a th:href="@{/posts/{id}(id=${post.postId})}">
                    <h2 class="post-title" th:text="${post.title}"></h2>
                    <span style="font-size: 1em; color: tomato"
                          th:if="${#dates.day(#dates.createNow()) == #temporals.day(post.createdDate)}">
                        <i class="fas fa-circle"></i><span>New</span>
                    </span>

                    <h3 class="post-subtitle" th:text="${post.content}"></h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#" th:text="${post.username}"></a>
                    <strong th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd hh:mm:ss EEE')}"></strong>
                    category <strong th:if="${post.categoryName != null}" th:text="${post.categoryName}"></strong>
                </p>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>

</html>
